:root {
  --font-family: Iosevka Custom, monospace;
  --background-color: #2f2e4b;
  --background-color-app: #545171;
  --font-color: white;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-color);
  background-color: var(--background-color-app);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.order-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 50%;
  background-color: var(--background-color);
  align-items: center;
  justify-content: center;
  padding: 1em 1em 1em 1em;
  border-radius: 4px;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

tbody {
  display: block;
  height: 300px;
  overflow: auto;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  width: 100%;
  /* width: calc(100% - 1em) */
}

h1,
h2 {
  text-align: center;
}

td,
th {
  padding: 6px;
}

td.order-price.sell {
  color: red;
}

td.order-price.buy {
  color: #3b9b4a;
}

td.order-price:hover {
  font-weight: 900;
}

.price-input {
  padding: 1em 1em 1em 1em;
  border-radius: 4px;
  background-color: var(--background-color);
  font-family: var(--font__family);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
  -webkit-appearance: none;
  border-width: 0px;
  border: none;

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

*:focus {
  outline: none;
}