:root {
  --font-family: Iosevka Custom, monospace;
  --background-color: #2f2e4b;
  --background-color-app: #545171;
  --font-color: white;
  --font-color-selected: #333;
  --border-color: #cfcbf0;
  --green: #6ec877;
  --red: #e2444d;
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--font-color);
  background-color: var(--background-color-app);
}

.app-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

@media only screen and (max-width: 840px) {
  body {
    font-size: 50%;
  }

  .app-container {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .order-container {
    width: 100vw;
    padding: 0px;
  }
}

.order-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  background-color: var(--background-color);
  align-items: center;
  justify-content: center;
  padding: 1em 1em 1em 1em;
  border-radius: 4px;
  border: solid 1px var(--border-color);
  width: 80vw;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  display: block;
}

tbody {
  display: block;
  max-height: 80vh;
  overflow: auto;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  width: 100%;
  margin-bottom: 5px;
  font-size: 120%;
}

h1,
h2 {
  text-align: center;
}

td,
th {
  padding: 3px;
}

td.order-price.sell {
  color: var(--red);
}

td.order-price.buy {
  color: var(--green);
}

td.order-price:hover {
  font-weight: 900;
}

.price-bar.buy {
  background-color: var(--green);
}

.price-bar.sell {
  background-color: var(--red);
}

.header-container {
  display: inline-flex;
}

.depth-level-dropwdown-container,
.price-input-container {
  margin: 5px;
  position: relative;
  min-width: 75px;
}

.price-input {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 150px;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 4px;
  background-color: var(--background-color);
  font-family: var(--font__family);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
  -webkit-appearance: none;
  border-width: 0px;
  border: solid 1px var(--border-color);
  font-size: 1.2em;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.depth-level-dropwdown {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  position: relative;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 4px;
  background-color: var(--background-color);
  font-family: var(--font__family);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
  -webkit-appearance: none;
  border-width: 0px;
  border: solid 1px var(--border-color);
  font-size: 1.2em;
  text-align: center;
  min-width: 150px;
}

.depth-level-dropwdown select {
  display: none;
}

select {
  text-align-last: center;
}

*:focus {
  outline: none;
}
